@charset "UTF-8";

#header{
    width: 100%;
    height: 85px;
    background: #eb5330;
}

.kakao_upmenu{
    width: 100%;
    height: 47px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.kakao_upmenu_icon{
    position: absolute;
    left: 0px;
    height: 19px;
    width: 93px;
    padding: 20px 15px;
}
.kakao_image{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    top: 14px;
    right: 67px;
}

.kakao_app{
    width: 35px;
    height: 25px;
    border-radius: 40px;
    border: 1px solid white;
    position: absolute;
    top: 14px;
    right: 17px;
    text-align: center;
    line-height: 23px;
    color: white;
    font-size: 10px;
    background-position: -130px -190px;
}

.kakao_donwmenu{
    width: 100%;
    height: 38px;
    position: relative;
}

.kakao_donwmenu > ul {
    margin-left: 5%;
}

.kakao_donwmenu > ul > li {
    display: inline-block;
    border-bottom: 3px solid #F6F6F6;
    height: 33px;
    width: 45%;
    text-align: center;
    line-height: 34px;
    font-size: 13px;
    color: #F6F6F6;

}


#container{
    width: 100%;
}

.kakao_head{
    position: relative;
    padding-top: 15px;
}

.head_image {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 70%;
}
.head_post{
    width: 100%;
    height: 100%;
}

.head_post > ul > li:first-child{
    position: absolute;
    top: 15px;
    left : 55px;
    font-size: 15px;
}
.head_post > ul > li:last-child{
    position: absolute;
    top: 35px;
    left : 55px;
    font-size: 10px;
}

.head_image_menu{
    position: absolute;
    right: 20px;
    top: 20px;
}

.imgshow{
    margin-top : 10px;
}

.contentshow{
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    width: 90%;
    height: 90%;
}

.content_bottom{
    border-top: 1px solid black;
}

.heart_btn{
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    margin-left: 10px;
    position: relative;
    font-size: 15px;
    background: #ffffff;
    border-radius: 40%;
    height: 33px;
}
.heart_btn > p  {
    display: inline-block;
}




#footer{
    width: 100%;
    height: 97px;
    background: #9FA1A7;
}

.footer_menu{
    position: relative;
    text-align: center;
}
.footer_menu >ul> li{
    font-size: 8px;
    display: inline-block;
}

.footer_menu >ul> li:first-child{
    margin-top: 30px;
}
.footer_menu >ul> li:last-child{
    margin-top: 10px;
}
