@charset "UTF-8";

input::placeholder {
    color: white;
}

#storyImg {
    width: 100%;
    height: 100%;
}

#storyBody {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.kakao_logo {
    width: 138px;
    height: 30px;
    margin-left: calc((100% - 138px) / 2);
    margin-top: 50px;
}

/* kakao account */
.kakao_account {
    margin-top: 20px;
}

.kakao_account > p {
    color: white;
    font-size: 12px;
    text-align: center;
}

.kakao_account_login {
    margin-top: 30px;
    background: #FEE500;
    width: 90%;
    margin-left: 5%;
    height: 50px;
    border-radius: 5px;
}

.kakao_account_login > ul {
    text-align: center;
    line-height: 50px;
}

.kakao_account_login > ul > li {
    display: inline-block;
}

.kakao_account_login_img {
    width: 14px;
    height: 13px;
    background-image: url("../../../../../../../../../Downloads/Desktop 2/KakaoStory/img/bg_imgs.png");
    background-size: 200px 300px;
    background-position: -150px -280px;
}

.kakao_account_login_label {
    font-size: 12px;
}

/* login form */
.kakao_login_info_1 {
    color: white;
    font-size: 13px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.login_info_box {
    width: 90%;
    margin-left: 5%;
    height: 42px;
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px white solid;
}

.login_tip {
    display: none;
    font-size: 12px;
    color: white;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.login_info_autoLogin {
    position: relative;
    margin-left: 5%;
    margin-top: 15px;
}

.login_info_autoLogin > li {
    display: inline-block;
}

.login_info_autoLogin > li:first-child {
    width: 20px;
    height: 20px;
    background-image: url("../../../../../../../../../Downloads/Desktop 2/KakaoStory/img/bg_imgs.png");
    background-size: 200px 300px;
    background-position: 0px -30px;
}

.login_info_autoLogin > li:last-child {
    color: white;
    line-height: 20px;
    font-size: 12px;
    position: absolute;
    left: 25px;
    top: 0px;
}

.kakao_login_idPw {
    display: block;
    margin-top: 30px;
    height: 50px;
    background: #F6F6F6;
    width: 90%;
    margin-left: 5%;
    color: #191919;
    font-weight: bold;
    border: none;
    font-size: 14px;
    border-radius: 5px;
}

.login_info_contents {
    text-align: center;
    margin-top: 20px;
}

.login_info_contents > li {
    display: inline-block;
    padding-left: 10px;
    margin-right: 10px;
}

.login_info_contents > li > a {
    text-decoration: none;
    color: white;
    font-size: 10px;
}

#footer {
    position: absolute;
    bottom: 0px;
    border-top: 1px solid white;
    width: 100%;
    height: 72px;
    text-align: center;
}

.footer_menu {
    margin-top: 10px;
}

.footer_menu > li {
    display: inline-block;
    font-size: 10px;
    color: white;
}

.footer_menu > li > select {
    background: none;
    border: none;
    color: white;
    font-size: 10px;
}

#footer > p {
    font-size: 10px;
    color: white;
    margin-top: 10px;
}