@charset "UTF-8";


/* header */
#header {
    width: 100%;
    height: 92px;
    position: relative;
    box-shadow: 0 5px 20px rgba(0 ,0 ,0,.05) ;

}
.header_nav {
    margin-left: 16px;
}

.header_ico_logo{
    width: 80px;
    height: 14px;
    position: absolute;
    left: 16px;
    top: 18px;
}

.header_ico_menu{
    position: absolute;
    right: 0px;
    margin-right: 16px;
    margin-top: 16px;
}

.header_nav{
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-top: 12px;
}

.header_nav > li{
    font-size: 16px;
    padding-bottom: 14px;
    margin-left: 16px;

}

.header_nav > li {
    float: bottom;
    display: inline-block;
    color: #9FA1A7;
    font-size: 16px;
}
/* container */

#container{
    width: 100%;
}

/*이벤트 이슈 메뉴 정리*/
.Event_issue{
    position: relative;
    padding: 0 16px 15px;
}
.Event_issue_menu {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
.Event_issue_menu >ul {
    display: inline-block;

}
.Event_issue >p{
    padding: 50px 0px 32px 0px;
    font-size: 22px;
}

.Event_issue_menu_title{
    width: 205px;
    padding-top: 12px;
    font-size: 14px;
}
.Event_issue_menu_game {
    padding-top: 7px;
    font-size: 12px;
    color: #9fa1a7;
}
/*  /이벤트 이슈 메뉴 정리 */

/*추천 모바일 게임*/
.Mobile_game{
    position: relative;
    padding: 21px 0 60px;
}
.Mobile_game_nav{
    font-size: 22px;
    padding: 0 0 48px 16px;
}
.Mobile_game_plus_button{
    position: absolute;
    left: 24px;
}
.Mobile_game_set_button{
    position: absolute;
    top: 28px;
    right: 16px;
    font-size: 14px;
    line-height: 1.2;
}
.set_button_image{
    margin: -1px 4px;
}
/*본문 내용*/
.Mobile_game_list_main{
    padding: 0 16px;
}
.Moblie_game_image{
    width: 114px;
    height: 100px;
    float: left;
}
.Mobile_game_info{
    display: inline-block;
    float: left;
    width: 265px;
    height: 31px;
    margin-right: 60px;
    margin-top: 5px;
    position: relative;
}
.Mobile_game_title{
    color: #17191d;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.Mobile_game_SNS_2{
    position: absolute;
    top: 0px;
    right: 0px;
}
.Mobile_game_SNS_1{
    position: absolute;
    top: 0px;
    right: 25px;
}
.Mobile_game_sub_title{
    margin-left: -1px;
    color: #9fa1a7;
}
.float_init {
    height: 5px;
    clear: both;
    padding-bottom: 20px;
}

/* playlist_main */
.playlist_main {
    width: 95%;
    margin-left: 2.5%;
}

.playlist_cell {
    display: inline-block;
    width: 46.5%;
}

.playlist_cell:nth-child(1), .playlist_cell:nth-child(3) {
    margin-right: 2%;
}

/* footer */
#footer{
    background: #222426;
    width: 100%;
    height: 322px;
    position: relative;
    margin-top: 50px;
    text-align: center;
}
.footer_nav_first{
    position: relative;
    width: 100%;
    height: 50px;
    background: #17191d;
}
.footer_nav_first_1{
    position: absolute;
    left: 0px;
    padding: 15px 15px 0px;
    color: #ffffff;
    font-size: 12px;
}
.footer_nav_first_2{
    position: absolute;
    left: 0px;
    padding: 15px 60px;
    font-size: 12px;
    color: #ffffff;
}
.footer_nav_first_image{
    position: absolute;
    right: 0px;
    padding: 12px 12px;
}
.footer_nav_second{
    border-bottom: 1px solid #2d2f31;
    background: #222426;
    position: relative;
    clear: both;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 14px;
}
.footer_nav_second >li {
    padding-bottom: 20px;
    color : white;
}
.footer_nav_third{
    padding-bottom: 16px;
    padding-top: 24px;
}
.footer_nav_third >li{
    float: left;
    margin-left: -13px;
    width: 50%;
}
.footer_nav_third_1{
    color: #cecfcf;
    margin-right: 18px;
    text-align: right;
    font-size: 10px;
}
.footer_nav_third_2{
    width: 50%;
    text-align: left;
    font-size: 10px;
}
.footer_copyright{
    color: #616364;
    display: block;
    padding-bottom: 49px;
    font-size: 10px;
}
