@charset "UTF-8";
@font-face { /* 폰트 추가 */
    font-family: NEXONLv1GothicOTFBold;
    src: url("../../font/NexonGothic.woff") format('woff')
}

/* header */
#header {
    width: 100%;
    height: 92px;
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05) ;

}

.header_nav {
    margin-left: 16px;
}

.header_nav > li:hover {
    color: black
}

.header_ico_logo{
    width: 80px;
    height: 14px;
    position: absolute;
    left: 16px;
    top: 18px;
}

.header_ico_menu{
    position: absolute;
    right: 0px;
    margin-right: 16px;
    margin-top: 16px;
}

.header_nav{
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-top: 12px;
}

.header_nav > li{
    font-size: 16px;
    padding-bottom: 14px;
    margin-left: 16px;

}

.header_nav > li {
    float: bottom;
    display: inline-block;
    color: #9FA1A7;
    font-size: 16px;
    font-family: NEXONLv1GothicOTFBold;
}

/* container */
#container {
    width: 100%;
}

.top_memu {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 12px;
}

.top_memu > li {
    display: inline-block;
    color: #4a4e57;
    font-size: 12px;
    padding-left: 16px;
}

.game_list_main {
    margin: 0px 16px;
}

.game_image {
    width: 140px;
    height: 93px;
    float: left;
}

.game_info {
    display: inline-block;
    float: right;
    width: calc(100% - 150px);
    height: 88px;
    margin-top: 5px;
    position: relative;
}

.game_info > ul > li {
    display: inline-block;
    line-height: 20px;
}

.info_img {
    width: 16px;
    height: 20px;
}

.sns {
    position: absolute;
    top: 0px;
    right: 0px;
}

.game_title {
    color: #17191d;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.game_sub_title {
    color: #9fa1a7;
    font-size: 12px;
}

.float_init {
    height: 5px;
    clear: both;
    padding-bottom: 20px;
}

/*footer*/
#footer{
    background: #222426;
    width: 100%;
    height: 272px;
    position: relative;
    margin-top: 50px;
    text-align: center;
}
.footer_nav_first{
    border-bottom: 1px solid #2d2f31;
    background: #222426;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 14px;
}
.footer_nav_first > li {
    padding-bottom: 15px;
    color : white;
}

.footer_copyright{
    color: #616364;
    display: block;
    padding-bottom: 49px;
    font-size: 10px;
}
.footer_nav_second{
    padding-bottom: 16px;
    padding-top: 24px;
}
.footer_nav_second > li {
    display: inline-block;
}

.footer_nav_second > li:first-child {
    color: #cecfcf;
    font-size: 10px;
    margin-right: 13px;
}

.footer_nav_second > li:last-child {
    font-size: 10px;
    color: #cecfcf;
}

#container_body {
    width: 100%;
    height: calc(100% - 92px);
    overflow: auto;
}