@charset "UTF-8";

/* header */
#header {
    width: 100%;
    height: 92px;
    position: relative;
    box-shadow: 0 5px 20px rgb(0 0 0 / 5%) ;

}

.header_nav {
    margin-left: 16px;
}

.header_ico_logo{
    width: 80px;
    height: 14px;
    position: absolute;
    left: 16px;
    top: 18px;
}

.header_ico_menu{
    position: absolute;
    right: 0px;
    margin-right: 16px;
    margin-top: 16px;
}

.header_nav{
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-top: 12px;
}

.header_nav > li{
    font-size: 16px;
    padding-bottom: 14px;
    margin-left: 16px;

}

.header_nav > li {
    float: bottom;
    display: inline-block;
    color: #9FA1A7;
    font-size: 16px;
}

/* container */
#container{
    width: 100%;
}
/*추천 모바일 게임*/
/* class 맨 앞 글자는 소문자 */
.Mobile_game{
    position: relative;
    padding: 21px 0 20px;
}
.Mobile_game_nav_1{
    display: inline-block;
    color: #4a4e57;
    font-size: 12px;
    padding-left: 16px;
}
.Mobile_game_nav_2{
    position: absolute;
    top: 28px;
    right: 16px;
    font-size: 14px;
}
.set_button_image{
    position: absolute;
    right: 10px;
    top: 0px;
}

.Mobile_game_list_main{
    padding: 0 16px;
}
.Moblie_game_image{
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 20px;
}
.Mobile_game_info{
    display: inline-block;
    float: right;
    width: calc(100% - 90px);
    height: 31px;
    margin-top: 5px;
    position: relative;
}
.Mobile_game_title{
    color: #17191d;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.mobile_game_store > li {
    display: inline-block;
}
.mobile_game_store > li:last-child {
    line-height: 24px;
    font-size: 12px;
}

.Mobile_game_SNS_2{
    position: absolute;
    top: 0px;
    right: 0px;
}

.Mobile_game_SNS_1{
    position: absolute;
    top: 0px;
    right: 25px;
}

.Mobile_game_sub_title{
    margin-left: -1px;
    color: #9fa1a7;
}

.float_init {
    height: 5px;
    clear: both;
    padding-bottom: 20px;
}
/* footer */
/*footer*/
#footer{
    background: #222426;
    width: 100%;
    height: 272px;
    position: relative;
    margin-top: 50px;
    text-align: center;
}
.footer_nav_first{
    border-bottom: 1px solid #2d2f31;
    background: #222426;
    position: relative;
    clear: both;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 14px;
}
.footer_nav_first > li {
    padding-bottom: 20px;
    color : white;
}

.footer_copyright{
    color: #616364;
    display: block;
    padding-bottom: 49px;
    font-size: 10px;
}
.footer_nav_second{
    padding-bottom: 16px;
    padding-top: 24px;
}
.footer_nav_second >li{
    float: left;
    margin-left: -13px;
    width: 50%;
}
.footer_nav_second_1{
    color: #cecfcf;
    margin-right: 18px;
    text-align: right;
    font-size: 10px;
}
.footer_nav_second_2{
    width: 50%;
    text-align: left;
    font-size: 10px;
}